        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .server-status {
            display: flex;
            align-items: center;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }
        .icon {
            width: 50px; 
            height: 50px; 
            margin-right: 10px; 
            object-fit: contain; 
        }
        .up {
            background-color: #d4edda;
            color: #155724;
        }
        .down {
            background-color: #f8d7da;
            color: #721c24;
        }
        .cloudtips-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 60px; 
            height: 60px; 
            cursor: pointer; 
        }
        .status-indicator {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-left: 10px;
        }
        .language-switcher {
            position: fixed;
            top: 10px;
            right: 10px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            transform: translateY(-10px);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
            border-radius: 8px;
        }
        .dropdown-content a {
            color: black;
            padding: 10px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            font-weight: 600;
        }
        .dropdown-content a:hover {
            background-color: #e8e8e8;
        }
        .dropdown:hover .dropdown-content {
            display: block;
            transform: translateY(0);
            opacity: 1;
        }
        .dropdown:hover .dropbtn {
            background-color: #f1f1f1;
        }
        .dropbtn {
            background-color: #ffffff;
            color: #333;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .dropbtn:hover {
            background-color: #e8e8e8;
        }
